.latestProduct__Wrap {
    padding-left: 17rem;
    margin: 10rem 0 17rem 0;
}

.lt_pt-Ttl {
    position: relative;
}

.lt_pt-line {
    position: absolute;
    right: 17rem;
    left: 52%;
    top: 60px;
}

.lt_ln {
    display: inline-block;
    width: 64px;
    height: 5px;
    background-color: #9E4528;
    transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.lt_pt-Ttl:hover .lt_ln{
    width: 100%;
}

.lt_pt-Ttl h2 {
    font-family: Satoshi;
    font-size: 171px;
    font-weight: 500;
    line-height: 150px;
    letter-spacing: -0.05em;
    text-align: left;
    position: relative;
}

/* .lt_pt-Ttl h2::after {
    content: '';
    position: absolute;
    right: 17rem;
    width: 664px;
    height: 5px;
    background-color: #9E4528;
    top: 60px;
} */

.lt_Btm-row {
    display: flex;
    gap: 10rem;
}

.lt_Content {
    display: flex;
    align-items: center;
}

.lt_para {
    margin-top: 13rem;
}

.lt_para h3 {
    font-family: Satoshi;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #BABCFF;
    margin-bottom: 15px;
}

.lt_para p {
    font-family: Satoshi;
    font-size: 36px;
    font-weight: 300;
    line-height: 57px;
    letter-spacing: -0.05em;
    text-align: left;
}

.lt_pr-Crl {
    width: 517px;
    height: 517px;
}

.lt_pr-Crl img {
    width: 100%;
    object-fit: cover;
}

.lt_pr-Crl2 {
    margin-left: -50px;
}

.lt_pr-halfCrl a {
    font-family: Satoshi;
    font-size: 38px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #fff;
    padding-left: 26px;
}

.lt_pr-halfCrl {
    position: relative;
    height: 566px;
    display: flex;
    align-items: center;
    z-index: 1;
    /* margin-left: -74px; */
}

.lt_pr-halfCrl::before {
    content: '';
    position: absolute;
    left: -86px;
    top: 0;
    width: 566px;
    height: 100%;
    background-color: #A637A6;
    border-radius: 100%;
    z-index: -1;
}