.latestProduct__Wrap {
    padding-left: 17rem;
    margin: 10rem 0 17rem 0;
}

.lt_pt-Ttl {
    position: relative;
}

.lt_pt-line {
    position: absolute;
    right: 17rem;
    left: 52%;
    top: 60px;
    /* background: #9E4528; */
    /* height: 5px; */
}

.lt_ln {
    /* position: absolute; */
    display: inline-block;
    width: 64px;
    height: 5px;
    background-color: #9E4528;
    /* transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1); */
}

/* .lt_pt-Ttl:hover .lt_ln {
    width: 100%;
} */

.lt_pt-Ttl h2 {
    font-family: Satoshi;
    font-size: 171px;
    font-weight: 500;
    line-height: 150px;
    letter-spacing: -0.05em;
    text-align: left;
    position: relative;
}

/* .lt_pt-Ttl h2::after {
    content: '';
    position: absolute;
    right: 17rem;
    width: 664px;
    height: 5px;
    background-color: #9E4528;
    top: 60px;
} */

.lt_Btm-row {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}

.lt_Content {
    display: flex;
    align-items: center;
    width: 70%;
}

.lt_para {
    width: 30%;
    margin-top: 13rem;
}

.lt_para h3 {
    font-family: Satoshi;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #BABCFF;
    margin-bottom: 15px;
}

.lt_para p {
    font-family: Satoshi;
    font-size: 36px;
    font-weight: 300;
    line-height: 57px;
    letter-spacing: -0.05em;
    text-align: left;
}

.lt_pr-Crl {
    flex: 1.5;
}

.lt_pr-Crl img {
    width: 100%;
    object-fit: cover;
}

.lt_pr-Crl2 {
    margin-left: -50px;
}

.lt_pr-halfCrl a {
    font-family: Satoshi;
    font-size: 38px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #fff;
    padding-left: 26px;
}

.lt_pr-halfCrl {
    flex: .5;
    position: relative;
    height: 566px;
    display: flex;
    align-items: center;
    z-index: 1;
    /* margin-left: -74px; */
}

.lt_pr-halfCrl::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 0;
    width: 566px;
    height: 100%;
    background-color: #A637A6;
    border-radius: 100%;
    z-index: -1;
}

@media only screen and (max-width: 1680px) {
    .latestProduct__Wrap {
        padding-left: 8rem;
        margin: 10rem 0 14rem 0;
    }

    .lt_pt-Ttl h2 {
        font-size: 120px;
        line-height: 100px;
    }

    .lt_pt-line {
        right: 8rem;
        top: 35px;
    }

    .lt_Btm-row {
        gap: 6rem;
    }

    .lt_para h3 {
        font-size: 32px;
        line-height: 46px;
    }

    .lt_para p {
        font-size: 24px;
        line-height: 36px;
    }

    .lt_pr-halfCrl {
        height: 440px;
    }

    .lt_pr-halfCrl::before {
        left: -70px;
        width: 440px;
        height: 100%;
    }

    .lt_pr-halfCrl a {
        font-size: 24px;
        line-height: 40px;
    }

    .lt_ln {
        height: 3px;
    }
}