.review__Wrap {
    padding: 0 17rem;
    margin-bottom: 22rem;
}

.rv__Ttl-s {
    display: flex;
    flex-direction: column;
}

.rv__Ttl-txt {
    width: 100%;
    height: 188px;
    position: relative;
    overflow: hidden;
}

.rv__Ttl-txt span {
    position: absolute;
    font-family: Satoshi;
    font-size: 188px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    display: inline-block;
    transform: skewY(7);
    transform: translateY(100%);
}

.cl {
    color: #DF3701;
}

/* .review__Ttl h2 {
    font-family: Satoshi;
    font-size: 188px;
    font-weight: 500;
    line-height: 180px;
    letter-spacing: 0em;
    text-align: left;
} */

/* .review__Ttl span {
    color: #DF3701;
} */

.review_Cmp-Boxes {
    margin-top: 11rem;
}

.rev_Logo-row {
    display: flex;
}

.rev_logo-col {
    flex: 1;
    height: 390px;
    border: 1px solid #272927;
    border-radius: 100%;
}

.logo_blank {
    border: none;
}

.rev_Cta {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.rev_Cta a {
    margin-bottom: 25px;
    font-family: Satoshi;
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #20248A;
}

.rev_logo-col1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev_logo-col1 span {
    font-family: Satoshi;
    font-size: 84px;
    font-weight: 400;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: left;
    color: #272927;
}

.review__Ttl {
    position: relative;
}

.rv_ln-wp {
    position: absolute;
    right: 0;
    left: 63%;
    bottom: 20px;
}

.rv-ln {
    display: inline-block;
    width: 64px;
    height: 5px;
    background-color: #9E4528;
    /* transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1); */
}

/* .review__Ttl:hover .rv-ln {
    width: 100%;
} */

@media only screen and (max-width: 1680px) {
    .review__Wrap {
        padding: 0 8rem;
        margin-bottom: 18rem;
    }

    .rv__Ttl-txt {
        height: 130px;
    }

    .rv__Ttl-txt span {
        font-size: 130px;
    }

    /* .review__Ttl h2 {
        font-size: 130px;
        line-height: 130px;
    } */

    .rv-ln {
        height: 3px;
    }

    .review_Cmp-Boxes {
        margin-top: 8rem;
    }

    .rev_logo-col {
        height: 300px;
    }

    .rev_logo-col1 span {
        font-size: 50px;
        line-height: 60px;
    }

    .rev_Cta a {
        font-size: 24px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .review__Wrap {
        padding: 0 6rem;
    }

    .rv__Ttl-txt {
        height: 110px;
    }

    .rv__Ttl-txt span {
        font-size: 110px;
    }

    /* .review__Ttl h2 {
        font-size: 110px;
        line-height: 110px;
    } */

    .rev_logo-col {
        height: 240px;
    }
}

@media only screen and (max-width: 991px) {

    .rv__Ttl-txt {
        height: 78px;
    }

    .rv__Ttl-txt span {
        font-size: 78px;
    }

    /* .review__Ttl h2 {
        font-size: 78px;
        line-height: 1;
    } */

    .rv_ln-wp {
        bottom: 10px;
    }

    .rev_logo-col1 span {
        font-size: 37px;
        line-height: 1;
    }

    .rev_logo-col {
        height: 160px;
    }

    .rev_Cta a {
        font-size: 14px;
        line-height: 22px;
    }

    .review_Cmp-Boxes {
        margin-top: 5rem;
    }

    .review__Wrap {
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 600px) {
    .rv_ln-wp {
        bottom: 3px;
    }

    .rv-ln {
        height: 1px;
    }

    .rv__Ttl-txt {
        height: 26px;
    }

    .rv__Ttl-txt span {
        font-size: 26px;
    }

    /* .review__Ttl h2 {
        font-size: 26px;
        line-height: 1;
    } */

    .review__Wrap {
        padding: 0 2rem;
    }

    .review_Cmp-Boxes {
        margin-top: 2rem;
    }

    .rev_logo-col {
        height: 82px;
    }

    .rev_logo-col1 span {
        font-size: 20px;
        line-height: 1;
    }

    .rev_Cta a {
        margin-bottom: 0;
    }

    .review__Wrap {
        margin-bottom: 5rem;
    }
}