.footer__Wrap {
    padding: 0 7rem 4rem;
}

.footer_Sec {
    position: relative;
}

.footer__Ttl h2 {
    font-family: Satoshi;
    font-size: 187px;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.05em;
    text-align: center;
}

.ft-arrow {
    width: 103px;
    height: 123px;
    position: absolute;
    top: 0;
    left: 0;
}

.ft-arrow img {
    width: 100%;
    object-fit: cover;
}

.ft_nv-top ul {
    display: flex;
    gap: 78px;
}

.ft_nv-top li {
    border: 1px solid #D9D9D9;
    border-radius: 130px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.ft_nv-top a {
    font-family: Satoshi;
    font-size: 57px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    padding: 17px 0;
}

.ft_nv-top {
    margin-top: 16rem;
}

.ft_scl ul {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.ft_scl li {
    flex: 1;
    /* padding-top: 50px; */
    /* border-top: 1px solid #E7E7E7; */
}

.ft_scl a {
    font-family: Satoshi;
    font-size: 57px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
    color: #E7E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft_scl {
    margin-top: 50px;
}

.ft_nv-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
}

.copy-right span {
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
}

.nv_rgt {
    display: flex;
    align-items: center;
    gap: 13rem;
}

.nv_rgt a {
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.ft_circle {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.ft_ln_wp {
    margin-top: 34rem;
}

.ft_ln_wp ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.ft_ln_wp li {
    width: 0%;
    height: 1px;
    background: #E7E7E7;
}

/* .ft_scl i{
    font-size: 46px;
} */

.ft_fb img {
    width: 26px;
    height: 49px;
}

.ft_insta img {
    width: 48px;
    height: 48px;
}

.ft_ln img {
    width: 50px;
    height: 49px;
}

.ft_tw img {
    width: 43px;
    height: 44px;
}

@media only screen and (max-width: 1680px) {
    .footer__Ttl h2 {
        font-size: 100px;
        line-height: 100px;
    }

    .ft_nv-top {
        margin-top: 8rem;
    }

    .ft_nv-top a {
        font-size: 32px;
        padding: 13px 0;
    }

    .ft_ln_wp {
        margin-top: 22rem;
    }

    .ft_scl {
        margin-top: 30px;
    }

    .ft_scl a {
        font-size: 32px;
    }

    .ft_fb img {
        width: 16px;
        height: 32px;
    }

    .ft_insta img {
        width: 34px;
        height: 34px;
    }

    .ft_ln img {
        width: 36px;
        height: 35px;
    }

    .ft_tw img {
        width: 29px;
        height: 30px;
    }

    .ft_nv-btm {
        margin-top: 3rem;
    }

    .copy-right span {
        font-size: 13px;
    }

    .nv_rgt a {
        font-size: 13px;
    }

    .ft_circle {
        width: 580px;
        height: 310px;
        bottom: -20px;
    }

    .ft_circle img {
        width: 100%;
        object-fit: cover;
    }

    .ft-arrow {
        width: 60px;
        height: 60px;
    }

    .footer__Wrap {
        padding: 0 6rem 0rem;
    }
}

@media only screen and (max-width: 1200px) {
    .ft_scl a {
        font-size: 28px;
    }

    .ft_nv-top a {
        font-size: 28px;
    }

    .footer__Ttl h2 {
        font-size: 80px;
        line-height: 80px;
    }

    .ft-arrow {
        width: 50px;
        height: 50px;
    }

    .ft_ln_wp {
        margin-top: 20rem;
    }

    .ft_circle {
        width: 460px;
        height: 280px;
    }
}