:root {
  font-size: 10px;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Regular"),
    url("../public/assets/fonts/Satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Medium"),
    url("../public/assets/fonts/Satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Bold"),
    url("../public/assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Black"),
    url("../public/assets/fonts/Satoshi/Satoshi-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

body {
  background-color: #272927;
  color: #fff;
  overflow-x: hidden;
}

.page__Wrap{
  position: relative;
}